.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 63px;
    background-color: #bf07ac;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}

.row{
    display: flex;
    float: left;
    margin-top: -29px;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.fav{
    display: flex;
    right: 47px;
    position: absolute;
    bottom: 13px;
    margin: 0 30px;
    font-size: 15px;
    cursor: pointer;
}

.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    position: absolute;
    right: 17px;
    top: 14px;
    cursor: pointer;
}

.favicons{
    display: flex;
    right: 17px;
    position: absolute;
    bottom: 13px;
    margin: 0 30px;
    font-size: 15px;
    cursor: pointer;
}

.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}
